$main-color: #2c2f88;
$main-color-dark: #272962;
$main-color-ultra-dark: #21234d;
$main-color-secondary: #d3d4e4;
$main-color-disabled: #63648a;
$text-color: rgb(32, 32, 32);
$text-light-color: rgb(248, 251, 247);
$light: rgb(247, 251, 255);
$accent-color: rgb(236, 115, 20);
$accent-color-error: rgb(236, 52, 20);
$accent-color-light: rgb(255, 156, 80);


